#topbar {
  width: 100%;
}

#topbar .box-icons {
  margin-bottom: 16px;
  flex-direction: row;
  align-self: flex-end;
  gap: 8px;
}

#topbar .box-icons button {
  font-size: 2rem;
  color: var(--txt-color);
  background-color: transparent;
  min-height: 44px;
  max-height: 44px;
  min-width: 44px;
  max-width: 44px;
}

#topbar h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: capitalize;
}

#topbar .box {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#topbar .button {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: var(--bottom-color);
  color: var(--bottom-txt-color);
  margin-bottom: 32px;
  border-radius: 5px;
  padding: 4px 32px;
}