#topbar {
  width: 100%;
  padding: 16px 16px;
}

#topbar .box-icons {
  margin-bottom: 16px;
  flex-direction: row;
  align-self: flex-end;
  gap: 8px;
}

#topbar .box-icons button {
  font-size: 2rem;
  color: var(--txt-color);
  background-color: transparent;
  min-height: 44px;
  max-height: 44px;
  min-width: 44px;
  max-width: 44px;
}

#topbar h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: capitalize;
  align-self: flex-start;
}

#topbar hr {
  width: 100%;
  height: 1px;
  opacity: 0.3;
  background-color: var(--border-color);
  border-radius: 100%;
  margin: 32px 0px ;
}