#topbar {
  width: 100%;
  margin-bottom: 32px;
}

#topbar .box-icons {
  margin-bottom: 16px;
  flex-direction: row;
  align-self: flex-end;
  gap: 8px;
}

#topbar .box-icons .btn-icons {
  font-size: 2rem;
  color: var(--txt-color);
  background-color: transparent;
  min-height: 44px;
  max-height: 44px;
  min-width: 44px;
  max-width: 44px;
}

#topbar h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: capitalize;
  align-self: flex-start;
}

#topbar .box {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#topbar .button {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--bottom-color);
  color: var(--bottom-txt-color);
  border-radius: 5px;
  padding: 4px 32px;
  height: 35px;
}

#box-search {
  justify-content: flex-end;
  flex-direction: row;
  gap: 16px;
}

#box-search form {
  height: 35px;
  flex-direction: row;
  border-radius:  5px;
  justify-content: flex-start;
  border: solid 1px var(--border-color);
  padding: 4px 32px;
}

#box-search form span {
  padding: 4px 0px;
  margin-right: 32px;
}

#box-search input {
  background-color: transparent;
  height: 35px;
}