/* IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS GLOBAL */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-size: 100%;
  object-fit: contain;
}

:root {
  --background: #2A233C;
  --txt-color:  #E7E3FC;
  --border-color: #E7E3FC;
  --bottom-color: #3BADFB;
  --bottom-txt-color: #E7E3FC;
  --card-color: #312D4B;
}

html, body, a {
  font-family: "Poppins", sans-serif;
  color: var(--txt-color);
  font-weight: normal;
  font-style: normal;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* Estilizando a barra de rolagem inteira */
::-webkit-scrollbar {
  width: 3px; /* Largura da barra de rolagem vertical */
  height: 3px; /* Altura da barra de rolagem horizontal */
}

/* Estilizando a parte "track" da barra de rolagem */
::-webkit-scrollbar-track {
  background: var(--background); /* Cor do fundo do track */
  border-radius: 10px; /* Borda arredondada do track */
}

/* Estilizando o "thumb" da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: var(--background); /* Cor do thumb */
  border-radius: 10px; /* Borda arredondada do thumb */
}

/* Estilizando o thumb quando está sendo pressionado (ativo) */
::-webkit-scrollbar-thumb:active {
  background: var(--background); /* Cor do thumb ativo */
}

/* Estilizando o thumb quando está em hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background); /* Cor do thumb quando o mouse está sobre ele */
}

/* Estilizando o canto entre as barras de rolagem horizontal e vertical */
::-webkit-scrollbar-corner {
  background: var(--background); /* Cor do canto */
}